fastapi
uvicorn
python-dotenv

sqlalchemy
alembic

passlib[bcrypt]
python-jose[cryptography]

pydantic
pydantic-settings

cryptography

streamlit

faiss-cpu

langchain
langchain-community
langchain-openai

openai

pymupdf

numpy

python-multipart

presidio-analyzer
presidio-anonymizer

loguru

httpx

argon2-cffi